@import 'tailwindcss';
@tailwind utilities;
@import "@fontsource/noto-sans";


@theme {
  --color-brand: #1c222c;
  --color-primary: #fbbf24;
  --color-secondary: #6366f1;
  --color-third : #4a234b;
  --color-brand2: #364153;
  --color-border: #2a3240;
  --color-hover: #6366f1;
  --color-dark: rgb(32,32,32);
  --color-white: #bfcad0;
}
html {
    @apply bg-linear-to-t from-brand2 to-dark;
    font-family: "Noto Sans";
}

.hero {
  background-position-x: -250px;
}


@media (max-width: 768px) {
  .mobile-vertical-table thead {
    display: none;
  }
  .mobile-vertical-table tr {
    display: block;
    border-bottom: 2px solid #374151;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  .mobile-vertical-table tr:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .mobile-vertical-table td {
    display: block;
    text-align: right;
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .mobile-vertical-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 45%;
    padding-left: 1rem;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
  }

  .mobile-vertical-table .action-cell {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0.5rem;
    padding-top: 1rem;
  }

  .mobile-vertical-table .action-cell::before {
    display: none;
  }
}
