@import "tailwindcss";

/* @theme {
  --color-brand: #364153;
  --color-primary: #0069a8;
  --color-secondary: #f0b100;
  --color-black: #000000;
  --color-white: #ffffff;
} */
@theme {
  --color-brand: #364153;
  --color-primary: #aa0fff;
  --color-secondary: #ff9010;
  --color-black: #000000;
  --color-white: #ffffff;
}